nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #2b78e4;
  color: #FFF;
  align-items: center;
  gap: 0.5em;
  font-family: "Poetsen One", sans-serif;
  font-size: xx-large;
  padding: 0 1em;
}
